.user-container {
    table {
        tr{
            padding: 8px 0;
            td {
                text-align: center;
                padding: 12px 0;
            }
            .actions {
                justify-content: center;
            }
        }
    }
}